*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    grid-gap: 40px;
    transition:all 0.5s; 
    animation-name:back;
    
    
    
}


.cardUI{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.containerUI{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.containerUI:hover{
   
    clip-path: polygon(0% 29%,100% 11%, 100% 85%, 0 100%);
    transform: scale(1.2);
    display: block;
    z-index: 1;
    transition-duration: .7s;
    /* transition-delay: .1s; */
    width: 100%;
    top: -17px;

}

#img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px 20px 0 0;
}

.containerUI:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.containerUI:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}

.card2>.containerUI:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.containerUI:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.5vw;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 1.3vw;
    line-height: 30px;
    font-weight: 400;
}