@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);


.bg-darke {
  /* --bs-bg-opacity: 1; */
  /* background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important; */
  background-color: #1c1b29e7;
}
.login{
    margin:0 auto;
    text-align:center;
    border:1px solid black;
    width:50%;
    margin-top: 5%;
    
}
.display-1{
    text-align:center;

}
.register_user{
    margin:0 auto;
    border:1px solid black;
    width:50%;
    margin-top: 5%;
}




/* Sticky footer position and size
-------------------------------------------------- */

.line{
  border-bottom: 2px solid #ffc107;
 
  width: 100%;
}
.height{
  height: 50%;
}
 div a {
  text-decoration: none;

}
.as{
  margin-right: 2%;
}


/* Taller footer on small screens */


/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 10px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}



#playlist {
  display:table;
}
#playlist li{
  cursor:pointer;
  padding:8px;
}

#playlist li:hover{
  color:blue;                        
}
#videoarea {
  display:grid;
  width:640px;
  height:480px;
  margin:10px;    
  border:1px solid silver;
}





